@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFFFFF;
}

/**header**/

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu i::before {
    content: "\e904";
    font-size: 24px;
}

.cabecalho__notificacao i::before {
    content: "\e906";
    font-size: 24px;
}

.cabecalho__logo {
    width: 40px;
}

/**nav**/

.menu-lateral {
    display: flex;
    flex-direction: column;
}
.menu-lateral__logo {
    align-self: center;
}

.menu-lateral_inicio_link i::before {
    content: "\e902";
}

.menu-lateral_videos_link i::before {
    content: "\e90e";
}

.menu-lateral_picos_link i::before {
    content: "\e909";
}

.menu-lateral_integrantes_link i::before {
    content: "\e903";
}

.menu-lateral_camisetas_link i::before {
    content: "\e900";
}

.menu-lateral_pinturas_link i::before {
    content: "\e90a";
}

